full links not recognized

**Describe the bug**
Only the first part of a link with a /@ in it is being linked so https://mastodon.social/@username only auto links https://mastodon.social and strips '@username' from being a link

**To Reproduce**
here is an example https://bookwyrm.social/user/wakest/comment/30867

**Expected behavior**
When a link is in a comment, the whole link should be turned into a link not just part of it

**Screenshots**
<img width="858" alt="image" src="https://user-images.githubusercontent.com/7890201/124171841-ae45cd80-da6e-11eb-9071-a74596df184a.png">

**Instance**
https://bookwyrm.social

here is another link that is broken by the # symbol https://bookwyrm.social/user/wakest/comment/31183

Here is a link that is broken by '~': <https://bookwyrm.social/user/wakest/status/31367>. `[` and `]` are also quite common and not handled by the regex, as far as i can see.

See [RFC 2396 section 2.2](https://datatracker.ietf.org/doc/html/rfc2396#section-2.2) and section 2.3 for allowed characters.